.env
.idea/

/gik-api/.cert/
/gik-dashboard/.cert/
.vscode/
.DS_Store
GIK_Web
docker-compose.yml

/gik-dashboard/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/gik-dashboard/build

# misc
/gik-api/.idea/
/gik-dashboard/.idea/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache
*/.idea/
*.xml
