html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: black;
    touch-action: pan-x pan-y;
    overflow: hidden;
}

* {
    color: var(--text);
}

:root {
    --theme: #61ce70;
    --hover: #4ca858;
    --active: #31783a;
    --bg: #e0e0e0;
    --text: black;
    --inverted-text: white;
    --neumorphism: #bebebe;
    --skeleafter: #dee2e6;
}

[data-theme="dark"] {
    --theme: #3c8045;
    --hover: #2a6032;
    --active: #18371c;
    --bg: #1f1f1f;
    --text: white;
    --inverted-text: black;
    --neumorphism: #414141;
    --skeleafter: #211d19;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-weight: normal;
}
