.wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }

    .pane {
        width: 100%;
        height: 100%;
        padding: 1rem;
        padding-left: 21rem;
        // padding-left: 2rem;
        box-sizing: border-box;
        // display: flex;
        // gap: 1.5rem;
        // flex-wrap: wrap;
        // justify-content: space-evenly;
        // align-items: center;
        // flex-direction: column;
        
        @media only screen and (max-width: 800px) {
            padding: 1rem;
            padding-left: auto;
            margin-bottom: 1rem;
        }

        overflow-x: hidden;
        overflow-y: auto !important;
    }
}