.container {
    height: 100%;
    width: 20rem;
    background-color: var(--theme);
    padding-top: 1rem;
    box-sizing: border-box;
    position: absolute;
    flex-basis: 20rem;

    user-select: none;
    overflow-y: auto !important;

    @media only screen and (max-width: 800px) {
        position: relative;
        flex-basis: fit-content;
        width: 100%;
        height: fit-content;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.711);
    }

    .item {
        border: 2px solid transparent;

        background-color: transparent;

        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;

        @media only screen and (max-width: 800px) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        height: 4rem;
        width: 100%;

        display: flex;
        align-items: center;

        padding-left: 2rem;
        box-sizing: border-box;

        cursor: pointer;

        font-size: 1.5rem;

        transition-duration: 100ms;

        margin-bottom: 0.5rem;

        &:hover {
            background-color: var(--hover);
            text-decoration: underline;
        }

        &:active {
            background-color: var(--active);
        }
    }

    .item.selected {
        background-color: var(--hover);
        border: 2px solid var(--active);
    }
}
